*{
    background-color:lightcyan;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apiInfo{
font-family: Poppins;
display: flex;
align-items: center;
justify-content: center;
}

.location{
    display: flex;
    font-size: 3rem;
    justify-content: space-evenly;
    align-items: center;
}

.location img{
    width: 96px;
    align-items: center;
    margin-left: 16px;
}

.currentWeather{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-evenly; 
}

.currentWeather img{
    width: 96px;
    align-items: center;
}

.condition {
    display:flex;
    flex-direction:row;
    text-align:center;
    font-weight:bolder;
    align-items:center;
}

.condition img{
    width: 128px;
}

.dayNight img{
    width: 54px
}

.condition p{
    margin-left: 16px;
}
